
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  position: relative;
}

.about,
.services,
.portfolio,
.testimonials {
  padding: 100px 0;
}
@media (max-width: 768px) {
  .about,
  .services,
  .portfolio,
  .testimonials {
    padding: 100px 0 50px 0;
  }
}



/*------Follow Us-------*/

.fixed__contact {
  position: fixed;
  top: 23%;
  right: 0;
  display: flex;
  flex-direction: column;
  z-index: 5;
}
.fixed__contact span {
  width: 45px;
  height: 50px;
  background: rgb(31 41 55);
  margin-bottom: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
}
.fixed__contact span i {
  font-size: 20px;
  color: #fff;
  transition: 0.3s ease;
}
.fixed__contact span:hover {
  background: rgb(55 65 81);
}
.fixed__contact span:hover i {
  color: #fff;
}

@media (max-width: 1200px) {
  .fixed__contact {
    display: none;
  }
}
/*------Follow Us end-------*/

/*------Hero-------*/
nav {
  transition: 0.5s ease;
  padding: 20px 0;
  z-index: 10;
}
.active-nav {
  background: rgb(31 41 55);
  padding: 10px 0px;
}
.active-nav, .show-menu {
  background: rgb(31 41 55);
}
.active-nav .logo {
  width: 60px;
  height: 60px;
}
.logo {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
  transition: 0.3s ease;
}
.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo:hover {
  box-shadow: 0px 0px 20px -1px rgba(255, 255, 255, 1);
}

#menu-toggle i {
  font-size: 25px;
}

.hero {
  height: 100vh;
}

.hero-video {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hero-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-overlay {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.hero-content {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}
.hero-content h1{
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .hero {
    height: 75vh;
  }
  .hero-content {
    width: 100%;
    padding: 0 20px;
    text-align: center;
  }
  .hero-content h1 {
    font-size: 35px;
    margin-bottom: 30px;
  }
}

/*------Hero end-------*/



/*------About Us -------*/
.about-us-img {
  height: 450px;
  border-radius: 10px;
  overflow: hidden;
}
.about-us-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*------About Us end-------*/

/*------Services-------*/
.service-img {
  height: 450px;
}
.service-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .service-img {
    height: 250px;
  }
}
/*------Services end-------*/

/*------Portfolio-------*/

.gallery-item {
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
  cursor: pointer;
  height: 400px;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1rem;
  transform: translateY(100%);
  transition: transform 0.3s ease;
}

.gallery-item:hover .overlay {
  transform: translateY(0);
}

.overlay-content {
  text-align: center;
  color: #fff;
}

.overlay-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.overlay-description {
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .gallery-item {
    height: 300px;
  }
}
/*------Portfolio end-------*/


/*-----------Testimonial---------------*/
.swiper-slide {
  overflow: hidden;
  border-radius: 10px;
}
.testimonial-card {
  padding: 15px 30px;
  display: flex;
  height: 250px;
  background: linear-gradient(135deg, rgb(93, 122, 163), rgb(1, 2, 0));
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  overflow: hidden;
  position: relative;
}

.testimonial-author {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.testimonial-author .author-image {
  height: 120px;
  width: 120px;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 20px;
}
.testimonial-author .author-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.author-details {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.author-name {
  color: white;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0px;
}

.author-title {
  color: #9ef46c;
}
.testimonial-text {
  color: white;
  overflow: hidden;
}

@media (max-width: 768px) {
  .testimonial-card {
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 300px;
  }

  .testimonial-author {
    align-items: center;
    text-align: center;
    margin-right: 0px;
  }

  .testimonial-author .author-image {
    height: 80px;
    width: 80px;
    margin-bottom: 10px;
  }
  .author-name {
    font-size: 20px;
  }

  .testimonial-text {
    font-size: 12px;
  }
}
/*-----------Testimonial end---------------*/
